<div class="bg-gray-100 p-4" style="margin-top: 6%;">
    <div class="bg-white p-6 rounded-lg shadow-lg">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()" id="userForm">
            <!-- Header Section -->
            <div class="mb-6">
                <div class="flex flex-col md:flex-row justify-between items-center space-y-4 md:space-y-0">
                    <h1 class="text-2xl font-semibold">{{ userId ? 'Edit User' : 'Add User' }}</h1>
                    <div class="flex space-x-2">
                        <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded shadow hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-400">
                            Save
                        </button>
                        <button routerLink="/user" class="bg-blue-500 text-white px-4 py-2 rounded shadow hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400">
                            Cancel
                        </button>
                    </div>
                    <div class="w-full md:w-auto">
                        <select formControlName="companyId" class="border border-gray-300 text-gray-700 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400 w-full">
                            <option value="">Select Company</option>
                            <option *ngFor="let company of companies" [value]="company.companyId">{{ company.companyName }}</option>
                        </select>
                    </div>
                </div>
                <!-- Divider Line -->
                <hr class="mt-4">
            </div>

            <!-- User Details Section -->
            <div>
                <h2 class="text-lg font-semibold mb-4">Enter User Details</h2>
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                    <div>
                        <input type="text" formControlName="firstName" placeholder="Enter First Name" class="border border-gray-300 rounded-lg px-4 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-400" />
                    </div>
                    <div>
                        <input type="text" formControlName="lastName" placeholder="Enter Last Name" class="border border-gray-300 rounded-lg px-4 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-400" />
                    </div>
                    <div>
                        <input type="text" formControlName="username" placeholder="Username" class="border border-gray-300 rounded-lg px-4 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-400" />
                    </div>

                    <!-- Conditionally show the password field when creating a new user -->
                    <div *ngIf="!userId">
                        <input type="password" formControlName="password" placeholder="Enter Password" class="border border-gray-300 rounded-lg px-4 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-400" />
                        <small class="text-gray-500">Start typing to check your password</small>
                    </div>
                    
                    <div>
                        <input type="email" formControlName="email" placeholder="Enter Email Address" class="border border-gray-300 rounded-lg px-4 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-400" />
                    </div>
                    <div>
                        <select formControlName="role" class="border border-gray-300 rounded-lg px-4 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-400">
                            <option [ngValue]="'companyAdmin'">Company Admin</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
        <app-shared-ui 
        [loading]="isLoading" 
        [successMessage]="successMessage" 
        [errorMessage]="errorMessage">
      </app-shared-ui>
    </div>
</div>
